<h1> Nuevo TODO </h1>
<% if @todo.errors.any? %>
<h2> Ha habido un error </h2>
<ul>
<% @todo.errors.full_messages.each do |e| %>
   <li><%= e %> </li>
    <% end %>
</ul>
<% end %>
<%= render 'todo_form' %>
<%= link_to "Index",todos_path %>